<div class="row mt-3 justify-content-center">
    <div class="card border-0 mx-3" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
            <div class="col-4">
                <div class="d-flex align-items-center justify-content-center bg-green rounded" style="height: 160px;">
                    <i class="fa-solid fa-file-circle-check fa-2xl icon-green"></i>
                </div>
            </div>
            <div class="col-8">
                <div class="ml-3">
                    <span class="font-weight-bold">Contratos registrados</span>
                    <p class="display-4 text-bold">123</p>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="card border-0 mx-3" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
            <div class="col-4">
                <div class="d-flex align-items-center justify-content-center bg-yellow rounded" style="height: 160px;">                    
                    <i class="fa-solid fa-triangle-exclamation fa-2xl icon-yellow"></i>
                </div>
            </div>
            <div class="col-8">
                <div class="ml-3">
                    <span class="font-weight-bold">Contratos com inconsistências</span>
                    <p class="display-4 text-bold">33</p>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="card border-0 mx-3" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
            <div class="col-4">
                <div class="d-flex align-items-center justify-content-center bg-red rounded" style="height: 160px;">
                    <i class="fa-solid fa-image fa-2xl icon-red"></i>
                </div>
            </div>
            <div class="col-8">
                <div class="ml-3">
                    <span class="font-weight-bold">Contratos sem imagem</span>
                    <p class="display-4 text-bold">123</p>
                </div>
            </div>
        </div>
        </div>
    </div>

    
</div>