.bg-green {
    background: #e7fcf2;
}

.icon-green {
    color: #54B989;
}

.bg-red {
    background: #f8e6e3;
}

.icon-red {
    color: #c53d3d;
}

.bg-yellow {
    background: #f8f4e3;
}

.icon-yellow {
    color: #d4bd3a;
}

.text-bold {
    font-family: 'Monteserrat Bold';
    color: #4a4b4b;
}