/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Monteserrat Bold';
    src: url('../src/assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Monteserrat ExtraBold';
    src: url('../src/assets/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Monteserrat Regular';
    src: url('../src/assets/fonts/Montserrat-Regular.ttf');
}

html {
    font-family: 'Montserrat Regular';
    font-size: 18px;
}

body {
    background-color: #eceeef !important;
}

.dash-tooltip {
    width: 500px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: none;
    text-align: left;
}

.load-wraper{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(134, 134, 134);
    z-index: 44;
    overflow: hidden;
    border-radius: 5px;
  }
  .activity{
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    animation: loading 1s infinite;
    z-index: 45;
  }
  
  @keyframes loading {
    0%{
      left: -45%;
    }
    100%{
      left: 100%;
    }
  }