/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Monteserrat Bold';
    src: url('../src/assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Monteserrat ExtraBold';
    src: url('../src/assets/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Monteserrat Regular';
    src: url('../src/assets/fonts/Montserrat-Regular.ttf');
}

html {
    font-family: 'Montserrat Regular';
    font-size: 18px;
}

body {
    background-color: #eceeef !important;
}

.dash-tooltip {
    width: 500px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: none;
    text-align: left;
}